body {
/* JD */
/* --slide-bgcolor: #DDCCCC;
    --video-bgcolor: #E490E0;

    --manu-bgcolor: #FFFFFF;
    --tech-bgcolor: #F1F1D6;
    --diss-bgcolor: #ADE4AD;
    --unco-bgcolor: #EEEEFF;
    --conf-bgcolor: #E0E0FF;
    --jour-bgcolor: #B8E0F0;
    --unkn-bgcolor: #EBE0E0; */
  --color-jp-kuro: #080808;
  --color-cn-YINYUBAI: #cdd1d3;
  --color-cn-DIAOYEZONG: #e7a23f;
  --color-cn-DANYINGSUHONG: #eea08c;
  --color-cn-KONGQUELV: #229453;
  --color-cn-YUQINLAN: #126e82;
  --color-cn-HAIQING: #22a2c3;
  --color-cn-BAOSHILAN: #2486b9;
  --color-cn-HONGLAN: #2177b8;
  --color-cn-BOLINLAN: #126bae;
  --color-arxiv: #8f1616;
  --diss-bgcolor: var(--color-cn-KONGQUELV);
  --manu-bgcolor: var(--text-color);
  --tech-bgcolor: #f1f1d6;
  --unco-bgcolor: #eef;
  --conf-bgcolor: var(--color-cn-HAIQING);
  --jour-bgcolor: var(--color-cn-BOLINLAN);
  --unkn-bgcolor: #ebe0e0;
  --background-color: var(--color-jp-kuro);
  --text-color: var(--color-cn-YINYUBAI);
  --link-color: var(--color-cn-HONGLAN);
  --quote-color: var(--color-cn-KONGQUELV);
  --meta-color: #666;
}
html {
  line-height: 1.75em;
}
body {
  font-family: Georgia, serif;
  font-size: 14pt;
  margin: 5px;
  background-color: var(--background-color);
  color: var(--text-color);
  hyphens: auto;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  text-align: justify;
}
#container {
  width: 85vw;
  max-width: 42rem;
  margin: 0 auto;
}
h1,
h2,
h3 {
  font-family: Open Sans, sans-serif;
}
p {
  margin-bottom: 1.75rem;
}
:lang(ch) {
  font-family: 'Noto Sans SC';
}
:lang(ja) {
  font-family: 'Noto Sans JP';
}
:lang(ru) {
  font-family: 'Noto Serif';
}
a:link,
a:visited,
a {
  font-weight: bold;
  text-decoration: none;
  color: var(--link-color);
}
#footer hr {
  margin-top: 3ex;
}
