@font-face {
  font-family: "astro";
  src: url("/assets/fonts/Astro.ttf") format("truetype");
}

@font-face {
  font-family: "ASTOLOGY";
  src: url("/assets/fonts/ASTOLOGY%20ASTROLOGICAL%20TFB.ttf") format("truetype");
}

.datetime-now {
  display: none;
  font-family: "Noto Serif TC", sans-serif;
}

div.datetime-now {
  text-align: center;
  white-space: nowrap;
}

.datetime-help {
  text-decoration: underline;
  text-decoration-style: dotted;
}

.month,
.zodiac {
  font-family: "Noto Serif JP", serif;
}

.zodiac_logo,
.youbi_logo {
  font-family: "astro", sans-serif;
}

.lunar_phase {
  font-family: "ASTOLOGY", sans-serif;
  font-size: 10pt;
}
